{
    border: 1px solid red !important;
}

body {
    padding: 40px 0;
}

#timer {
  position: relative;
  font-weight: bold;
  font-size: 1.6em;
}

.banner {
    font-size: 1.6em;
    font-weight: bold;
}

.header_element {
    font-size: 4em;
    font-weight: bold;
}


.top_clear {
  padding-top: 1.5em;
}

.question {
    color: #717171;
    font-size: 1.5em;
    padding-top: 1em;
}

.click_option {
    font-size: 1.3em;
    font-weight: bold;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 10px;
}

.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
