{
    border: 1px solid red !important;
}

body {
    padding: 40px 0;
}

#timer {
  position: relative;
  font-weight: bold;
  font-size: 1.6em;
}

.banner {
    font-size: 1.6em;
    font-weight: bold;
}

.question {
    color: #717171;
    font-size: 2em;
    padding-top: 1em;
}

.top_clear {
  padding-top: 1.2em;
}

.header_element {
    font-size: 4em;
    font-weight: bold;
}

.option {
    font-size: 1.3em;
    font-weight: bold;
}

.lock {
    font-size: 1.5em;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 40px;
}

.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.selected {
    background: #FF8C00;
}

.border_effect {
  background-image: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%), linear-gradient(0deg, black 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 4px, 15px 4px, 4px 15px, 4px 15px;
  animation: border-dance 4s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0%, 300px 100%, 0% 150px, 100% 0px;
  }
  100% {
    background-position: 300px 0%, 0px 100%, 0% 0px, 100% 150px;
  }
}
