<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ROUNDS</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/all_rounds.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container how-it-works">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span class="header_element pull-left">ASME</span>
                <span class="header_element pull-right">IEM</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span class="header_element">Q-FIESTA</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li class="active">
                            <a href="#round1" aria-controls="round1" role="tab" data-toggle="tab" title="Round 1">
                                <span class="round-tabs one">
                                    1
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#round2" aria-controls="round2" role="tab" data-toggle="tab" title="Round 2">
                                <span class="round-tabs two">
                                    2
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#round3" aria-controls="round3" role="tab" data-toggle="tab" title="Round 3">
                                <span class="round-tabs three">
                                    3
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#round4" aria-controls="round4" role="tab" data-toggle="tab" title="Round 4">
                                <span class="round-tabs four">
                                    4
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Development">
                                <span class="round-tabs five">
                                    <i class="icon icon-tools-2"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="round1">
                        <h3 class="head text-center">Round 1</h3>
                        <p class="narrow text-center">
                            The only way out is in.
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_1', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="round2">
                        <h3 class="head text-center">Round 2</h3>
                        <p class="narrow text-center">
                            The only way out is in.
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_2', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="round3">
                        <h3 class="head text-center">Round 3</h3>
                        <p class="narrow text-center">
                            The only way out is in.
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_3')}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="round4">
                        <h3 class="head text-center">Round 4</h3>
                        <p class="narrow text-center">
                            The only way out is in.
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_4', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="doner">
                        <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <h3 class="head text-center">Development</h3>
                        <p class="narrow text-center">
                            In Development
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> WAIT <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
</html>
