<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ROUNDS</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/all_rounds_e.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container how-it-works">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span class="header_element pull-left">
                    <img width="150" src="{{url_for('static', filename='icons/asme.png')}}" style="padding-left:10px; padding-top:10px;">
                </span>
                <span class="header_element pull-right">
                    <img width="100" src="{{url_for('static', filename='icons/iem.png')}}" style="padding-left:10px; padding-top:10px;">
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <span class="header_element" style="font-family:cursive;">Q-FIESTA</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 board">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <div class="liner"></div>
                        <li>
                            <a href="{{url_for('all_rounds')}}" title="Previous">
                                <span class="round-tabs one">
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#round4" aria-controls="round4" role="tab" data-toggle="tab" title="Round 4">
                                <span class="round-tabs two">
                                    4
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#round5" aria-controls="round5" role="tab" data-toggle="tab" title="Round 5">
                                <span class="round-tabs three">
                                    5
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#round6" aria-controls="round6" role="tab" data-toggle="tab" title="Round 6">
                                <span class="round-tabs four">
                                    6
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('homepage')}}" title="Next">
                                <span class="round-tabs five">
                                    <i class="glyphicon glyphicon-arrow-right"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in" id="prev">
                        <h3 class="head text-center">Previous</h3>
                        <p class="narrow text-center">
                            The only way out is in.
                        </p>
                        <p class="text-center">
                            <a class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_4', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade in active" id="round4">
                        <h3 class="head text-center">AUDIO VISUAL</h3>
                        <p class="narrow text-center">
                            Round 4
                        </p>
                        <p class="text-center">
                            <a data-toggle="modal" data-target="#rule4" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_4', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="round5">
                        <h3 class="head text-center">RAPID FIRE</h3>
                        <p class="narrow text-center">
                            Round 5
                        </p>
                        <p class="text-center">
                            <a data-toggle="modal" data-target="#rule5" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_5', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="round6">
                        <h3 class="head text-center">GRAB THE CLUE</h3>
                        <p class="narrow text-center">
                            Round 6
                        </p>
                        <p class="text-center">
                            <a data-toggle="modal" data-target="#rule6" class="btn btn-info btn-outline-rounded button_element"> RULES <span style="margin-left:10px;" class="glyphicon glyphicon-list-alt"></span></a>
                            &nbsp &nbsp &nbsp &nbsp
                            <a href="{{url_for('round_6', q_idx=1)}}" class="btn btn-success btn-outline-rounded green button_element"> BEGIN <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="next">
                        <div class="text-center">
                            <i class="img-intro icon-checkmark-circle"></i>
                        </div>
                        <h3 class="head text-center">NEXT SECTION</h3>
                        <p class="narrow text-center">
                            Goto remaining rounds.
                        </p>
                        <p class="text-center">
                            <a href="" class="btn btn-success btn-outline-rounded green"> NEXT <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="rule4" class="modal fade" role="dialog" style="padding-top:6em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title text-center" style="color:red;"><b><u>RULES</u></b></h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>There will be five teams for this round.</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Quiz master directly ask team the question and they have to answer it.</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>For right answer team will get +20 and there will be no negative marking.</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>One team will be eliminated after this round.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="rule5" class="modal fade" role="dialog" style="padding-top:6em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title text-center" style="color:red;"><b><u>RULES</u></b></h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>There will be four teams for this round.</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>Quiz master directly ask 5 questions to one team within 30 sec and they have to answer.</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>For every right answer they will get +10 and there will be -5 for wrong answer.</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>If team cannot answer the question they can say pass for the next.</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>One team will be eliminated after this round.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="rule6" class="modal fade" role="dialog" style="padding-top:2em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title text-center" style="color:red;"><b><u>RULES</u></b></h2>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <tbody>
                        <tr>
                            <th>1</th>
                            <td>There will be three teams for this round.</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>They will get only one question to answer.</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>The question consists of three clues and it will be given one by one.</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>The team has to try answer as early as possible to secure more marks.</td>
                        </tr>
                        <tr>
                            <th>5</th>
                            <td>The first team who will press the buzzer will get a chance to answer first.</td>
                        </tr>
                        <tr>
                            <th>6</th>
                            <td>Each team only get one chance to answer.</td>
                        </tr>
                        <tr>
                            <th>7</th>
                            <td>Point System:<br>
                                <div style="padding-left:3em;">
                                    <b>1st clue = 60 points</b><br>
                                    <b>2st clue = 30 points</b><br>
                                    <b>3st clue = 20 points</b><br>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}" type="text/javascript"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}" type="text/javascript"></script>
</html>
