<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/round_2.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 pull-left">
                <a href="{{data['prev']}}" class="glyphicon glyphicon-arrow-left banner"></a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 pull-right">
                <a href="{{data['next']}}" class="glyphicon glyphicon-arrow-right pull-right banner"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 box">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box-icon">
                            <span class="header_element">{{data['q_idx']}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center question">
                        <div>{{data['question']}}</div>
                    </div>
                </div>
                <div class="row que_options top_clear">
                    <div class="col-xs-12 col-sm-12 col-md-12 top_clear">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 btn btn-default option" id="1">
                                <div>{{data['option1']}}</div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 btn btn-default option" id="2">
                                <div class>{{data['option2']}}</div>
                            </div>
                        </div>
                        <div class="row top_clear">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 btn btn-default option" id="3">
                                <div>{{data['option3']}}</div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 btn btn-default option" id="4">
                                <div class>{{data['option4']}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top:2em;">
                        <span class="btn btn-info glyphicon glyphicon-lock lock"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="hidden" hidden>
    <div class="1994" id="1" secanswer="{{data['answer']}}">
</div>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/round_2.js')}}"></script>
</html>
