<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/round_2.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 pull-left">
                <a href="{{data['prev']}}" class="glyphicon glyphicon-arrow-left banner"></a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 pull-right">
                <a href="{{data['next']}}" class="glyphicon glyphicon-arrow-right pull-right banner"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 box">
                {% if not data.get('header_hide') -%}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box-icon">
                            <div class="timer_container" id="timer" hidden></div>
                            <span class="header_element">{{data['q_idx']}}</span>
                        </div>
                    </div>
                </div>
                {%- endif %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center question">
                        <div>{{data['question']|safe}}</div>
                    </div>
                </div>
                <div class="row que_options top_clear">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row bottom_clear">
                            <div class="col-xs-12 col-sm-12 col-md-12 btn btn-default option" id="1">
                                <div>{{data['option1']|safe}}</div>
                            </div>
                        </div>
                        <div class="row bottom_clear">
                            <div class="col-xs-12 col-sm-12 col-md-12 btn btn-default option" id="2">
                                <div>{{data['option2']|safe}}</div>
                            </div>
                        </div>
                        <div class="row bottom_clear">
                            <div class="col-xs-12 col-sm-12 col-md-12 btn btn-default option" id="3">
                                <div>{{data['option3']|safe}}</div>
                            </div>
                        </div>
                        <div class="row bottom_clear">
                            <div class="col-xs-12 col-sm-12 col-md-12 btn btn-default option" id="4">
                                <div>{{data['option4']|safe}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top:2em;">
                        <span class="btn btn-info glyphicon glyphicon-lock lock"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="tModal" class="modal fade" role="dialog" style="padding-top:6em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title text-center" style="color:red;"></h2>
            </div>
            <div class="modal-body text-center">
                <span class="glyphicon glyphicon-time header_element"></span>
                <h2 class="modal-title text-center top_clear" style="color:red; font-size: 30px"><b>TIME UP!</b></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="hidden" hidden>
    <div class="1994" id="1" secanswer="{{data['answer']}}">
</div>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/progressbar.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/round_2.js')}}"></script>
</html>
