<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/round_5.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 pull-left">
                <a href="{{data['prev']}}" class="glyphicon glyphicon-arrow-left banner"></a>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 pull-right">
                <a href="{{data['next']}}" class="glyphicon glyphicon-arrow-right pull-right banner"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 box">
                <div class="row" style="padding-bottom:1em;">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box-icon">
                            <div class="timer_container" id="timer"></div>
                        </div>
                    </div>
                </div>
                {%- for i in data['question_list'] %}
                <div class="row row-eq-height rapid_fire hidden que_container" id="{{loop.index}}">
                    <div class="col-xs-10 col-sm-10 col-md-10 question vertical-align">
                        <div>{{i[0]}}</div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 vertical-align">
                        <button class="btn-xs option" id="1">{{i[1]}}</button>&nbsp
                        <button class="btn-xs option" id="2">{{i[2]}}</button>&nbsp
                        <div class="1994 hidden" secanswer="{{i[3]}}"></div>
                    </div>
                </div>
                {%- endfor %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top:2em;">
                        <button class="btn btn-default glyphicon glyphicon-plus-sign"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="tModal" class="modal fade" role="dialog" style="padding-top:6em;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h2 class="modal-title text-center" style="color:red;"></h2>
            </div>
            <div class="modal-body text-center">
                <span class="glyphicon glyphicon-time header_element"></span>
                <h2 class="modal-title text-center top_clear" style="color:red; font-size: 30px"><b>TIME UP!</b></h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="hidden" hidden>
    <audio class="my_tick"><source src="{{url_for('static', filename='sound/Ticking_Clock.mp3')}}"></audio>
    <audio class="my_right"><source src="{{url_for('static', filename='sound/correct_answer.mp3')}}"></audio>
    <audio class="my_wrong"><source src="{{url_for('static', filename='sound/wrong_answer.mp3')}}"></audio>
    <div class="1994" id=1 secanswer="{{data['answer']}}"></div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/progressbar.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/round_5.js')}}"></script>
</html>
