<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/round_2.css')}}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 box">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="box-icon">
                            <span class="header_element">1</span>
                        </div>
                    </div>
                </div>
                <div class="row " style="padding-top:2em; padding-bottom:1.5em;">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center question">
                        <div>Who is president of India ?</div>
                    </div>
                </div>
                <div class="row que_options">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 btn btn-default option" id="1">
                                <div>OPTION 1</div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 btn btn-default option" id="2">
                                <div class>OPTION 2</div>
                            </div>
                        </div>
                        <div class="row top_clear">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 btn btn-default option" id="3">
                                <div>OPTION 3</div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 btn btn-default option" id="4">
                                <div class>OPTION 4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 text-center" style="padding-top:2em;">
                        <span class="btn btn-info glyphicon glyphicon-lock lock"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-3.2.0.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/round_2.js')}}"></script>
</html>
